/* start default style */
:root{
    --theme-color:rgb(9, 18, 77);
    --white-color:white;
    --dark-color:#353939;
    --primary-font:Epilogue;
}


body,html{
    width: 100%;
    height: 200%;
    box-sizing: border-box;
    font-family:var(--primary-font) ;
}

a{
    text-decoration: none;
    color: #353939;
    transition: all 400ms ease;
    
}
a:hover{
    color: var(--dark-color);
}
li{
    list-style: none;
}

i{
    user-select: none;
}

/* finish default style */

/* start navbar style */

.navbar{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    z-index: 99;
}
.fixed-header{
    position: fixed;
    box-shadow: 0 0 10px rgba(67, 65, 65, 0.429);
    width: 100%;
}
.navbar__left-image{
    width: 12rem;
}
.navbar-right_list{
    display: flex;
    align-items: center;
}
.navbar-right_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    position: relative;
}

.navbar-right_link{
    color: var(--dark-color);
}
.navbar-right_link:hover{
    color: var(--dark-color);
    
}
.navbar-right_icon{
    font-size: 0.9rem;
    color: var(--dark-color);
}
.menu-item1 {
    width: 11rem;
    text-align: center;
    padding: 0.5rem 0;
}
.menu-item2 {
    width: 6rem;
    text-align: center;
    padding: 0.5rem 0;
}
.menu-item3 {
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0;
}
.navbar-right_item-menu-list{
    transition: all 400ms ease;
    position: absolute;
    top: 2rem;
    box-shadow: 0 0 6px rgba(188, 184, 184, 0.491);
    visibility: hidden; 
    opacity: 0;
    border-radius: 5px;
    background-color: white
}
.navbar-right_menu-item{
    margin-bottom: 0.5rem;
    transition: all 400ms ease;
}
.navbar-right_menu-item:hover{
    background-color: var(--theme-color);
}
.navbar-right_menu-item:hover .navbar-right_menu-item-link{
    color: var(--white-color);
}
.navbar-right_item:hover .navbar-right_item-menu-list{
    visibility: visible;
    opacity: 2;
   
} 
.navbar-right_link-btn{
    border: 2px solid var(--theme-color);
    padding: 0.8rem 4rem;
    border-radius: 0.5rem;
    /* font-size: 1.1rem; */
    font-weight: bold;
    transition: all 400ms ease;
}
.navbar-right_link-btn:hover{
    background-color: var(--theme-color);
    color: var(--white-color);
}
.main-header{
    padding:0 5.5rem;
    margin-top: 4rem;
}
.main-header__container{
    display: flex;
    justify-content: space-between;
}
.main-header__container-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-header__container-left-title{
    font-size: 2.9rem;
    display: grid;
    color: var(--dark-color);
    z-index: -2;
}
.main-header__container-left-title-strong{
   position: relative;
   font-weight: bold;
   margin: 1rem 0;
}
.main-header__container-left-title-strong::before{
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 3rem;
    height: 1.2rem;
    width: 12rem;
    background-color: rgb(21 54 199 / 16%);
    transform: skewY(353deg);
    

}
.main-header__container-left-text{
    line-height: 1.5rem;
    color: #5d5555;
}
.main-header__container-left-link{
    background: var(--theme-color);
    color: var(--white-color);
    width: 16rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    font-size: 0.9rem;
    border: 2px solid var(--theme-color);
    border-radius: 0.5rem;
    transition: all 400ms ease;
}
.main-header__container-left-link:hover{
    background-color: var(--white-color);
    color: var(--theme-color);
    font-weight: bold;
}
.main-header__container-left-icon{
    font-size: 0.8rem;
    margin-left: 0.4rem;
}
.main-header__container-right-inputBox{
    margin: 2rem 0 ;
}
.main-header__container-right-input{
    position: relative;
    width: 80%;
    outline: none;
    height: 2rem;
    padding: 1.4rem 1rem;
    background-color: #69666326;
    border: none;
    border-radius: 0.4rem;

}
.main-header__container-right-link{
    background-color: var(--theme-color);
    color: var(--white-color);
    /* border-radius: 0.4rem; */
    padding: 0.87rem 1rem;
    position: absolute;
    right: 12rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.main-header__container-right-link:hover{
    color: var(--white-color);
}
.main-header__container-right-image{
    border-radius: 0.4rem;
}
.main-header__container-right-icon{
    font-size: 1.5rem;
    color: rgb(66, 78, 78);
    position: relative;
}
.box-6{
  position: relative;
}
.box-icon{
    position: absolute;
    top: 5rem;
    margin-left: 0.5rem;
}
/* finish navbar style */
.main-header__container-right-icon:not(.playIcon)::after{
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -5px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(21 54 199 / 16%);
    border-radius: 0.2rem;
}
.box-2{
    margin: auto 0;
}
.playIcon{
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: linear-gradient(to bottom , rgb(5, 5, 100),rgb(29, 29, 156),rgb(82, 82, 196));
    margin-bottom: 1rem;
}
.main-header__container-right-text{
    width:145px ;
}

.play-link-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}