/* start default style */
:root{
    --theme-color:rgb(9, 18, 77);
    --white-color:white;
    --dark-color:#353939;
    --primary-font:Epilogue;
}


body,html{
    width: 100%;
    /* height: 100%; */
    box-sizing: border-box;
    font-family:var(--primary-font) ;
}

a{
    text-decoration: none;
    color: #353939;
    transition: all 400ms ease;
    
}
a:hover{
    color: var(--dark-color);
}
li{
    list-style: none;
}

i{
    user-select: none;
}

/* finish default style */

/* start navbar style */

.header{
    position: relative;
}
.navbar{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--white-color);
    z-index: 100;
}
.fixed-header{
    position: fixed;
    box-shadow: 0 0 10px rgba(67, 65, 65, 0.429);
    width: 100%;
}
.navbar__left-image{
    width: 12rem;
}
.navbar-right_list{
    display: flex;
    align-items: center;
}
.navbar-right_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3rem;
    position: relative;
}

.navbar-right_link{
    color: var(--dark-color);
}
.navbar-right_link:hover{
    color: var(--dark-color);
    
}
.navbar-right_icon{
    font-size: 0.9rem;
    color: var(--dark-color);
}
.menu-item1 {
    width: 11rem;
    text-align: center;
    padding: 0.5rem 0;
}
.menu-item2 {
    width: 6rem;
    text-align: center;
    padding: 0.5rem 0;
}
.menu-item3 {
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0;
}
.navbar-right_item-menu-list{
    transition: all 400ms ease;
    position: absolute;
    top: 2rem;
    box-shadow: 0 0 6px rgba(188, 184, 184, 0.491);
    visibility: hidden; 
    opacity: 0;
    border-radius: 5px;
    background-color: white
}
.navbar-right_menu-item{
    margin-bottom: 0.5rem;
    transition: all 400ms ease;
}
.navbar-right_menu-item:hover{
    background-color: var(--theme-color);
}
.navbar-right_menu-item:hover .navbar-right_menu-item-link{
    color: var(--white-color);
}
.navbar-right_item:hover .navbar-right_item-menu-list{
    visibility: visible;
    opacity: 2;
   
} 
.navbar-right_link-btn{
    border: 2px solid var(--theme-color);
    padding: 0.8rem 4rem;
    border-radius: 0.5rem;
    /* font-size: 1.1rem; */
    font-weight: bold;
    transition: all 400ms ease;
}
.navbar-right_link-btn:hover{
    background-color: var(--theme-color);
    color: var(--white-color);
}
.main-header{
    padding:0 5.5rem;
    margin-top: 4rem;
}
.main-header__container{
    display: flex;
    justify-content: space-between;
}
.main-header__container-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main-header__container-left-title{
    font-size: 2.9rem;
    display: grid;
    color: var(--dark-color);
    z-index: -2;
}
.main-header__container-left-title-strong{
   position: relative;
   font-weight: bold;
   margin: 1rem 0;
}
.main-header__container-left-title-strong::before{
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 3rem;
    height: 1.2rem;
    width: 12rem;
    background-color: rgb(21 54 199 / 16%);
    transform: skewY(353deg);
    

}
.main-header__container-left-text{
    line-height: 1.5rem;
    color: #5d5555;
}
.main-header__container-left-link{
    background: var(--theme-color);
    color: var(--white-color);
    width: 16rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    font-size: 0.9rem;
    border: 2px solid var(--theme-color);
    border-radius: 0.5rem;
    transition: all 400ms ease;
}
.main-header__container-left-link:hover{
    background-color: var(--white-color);
    color: var(--theme-color);
    font-weight: bold;
}
.main-header__container-left-icon{
    font-size: 0.8rem;
    margin-left: 0.4rem;
}
.main-header__container-right-inputBox{
    margin: 2rem 0 ;
}
.main-header__container-right-input{
    position: relative;
    width: 80%;
    outline: none;
    height: 2rem;
    padding: 1.4rem 1rem;
    background-color: #69666326;
    border: none;
    border-radius: 0.4rem;

}
.main-header__container-right-link{
    background-color: var(--theme-color);
    color: var(--white-color);
    /* border-radius: 0.4rem; */
    padding: 0.87rem 1rem;
    position: absolute;
    right: 12rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.main-header__container-right-link:hover{
    color: var(--white-color);
}
.main-header__container-right-image{
    border-radius: 0.4rem;
}
.main-header__container-right-icon{
    font-size: 1.5rem;
    color: rgb(66, 78, 78);
    position: relative;
}
.box-6{
  position: relative;
}
.box-icon{
    position: absolute;
    top: 5rem;
    margin-left: 0.5rem;
}
/* finish navbar style */
.main-header__container-right-icon:not(.playIcon)::after{
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -5px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(21 54 199 / 16%);
    border-radius: 0.2rem;
}
.box-2{
    margin: auto 0;
}
.playIcon{
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: linear-gradient(to bottom , rgb(5, 5, 100),rgb(29, 29, 156),rgb(82, 82, 196));
    margin-bottom: 1rem;
}
.main-header__container-right-text{
    width:145px ;
}

.play-link-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.category-header{
    margin: 5rem 0;
    padding: 0 5rem;
}
.category-header_title{
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}
.category-header_container--items{
    padding: 3rem 0;
}
.category-header_container-list{
    
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.category-header_container-item{

    text-align: center;
    /* margin: auto; */
}

.category-header_container-list-page1{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.category-header_container-list-page2{
    display: none;
    justify-content: center;
    gap: 3rem;
}
.category-header_container-link{
    display: flex;
    flex-direction: column;
}

.category-header_container-icon{
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}
.greenDream{
    color: #10ac84;
    background-color: #10ac844d;
    width: 39px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.pinkDream{
    color: #f368e0;
    background-color: #f368e04d;
    width: 39px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.skyBlueDream{
    color: #487eb0;
    background-color: #487eb061;
    width: 39px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.lightRedDream{
    color: #c44569;
    width: 39px;
    background-color: #c4456980;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.lightBlueDream{
    color: #474787;
    width: 39px;
    background-color: #47478763;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.softRedDream{
    color: #B53471;
    width: 39px;
    background-color: #b5347178;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.lavenderTeaDream{
    color: #D980FA;
    width: 39px;
    background-color: #d980fa66;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.orangeDream{
    color: #f09c23;
    width: 39px;
    background-color: #f79f1f36;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    margin-bottom: 1.5rem;
}
.category-header_container-pagination{
    margin: 1rem;
}
.category-header_container-pagination-list{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.category-header_container-pagination-btn{
    width: 2rem;
    height: 2rem;
    background-color: #1B1464;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-header_container-pagination-item i{
   font-size: 1rem;
}

.btnPaginationDesign{
    background-color: white;
    color: rgb(30, 29, 29);
    box-shadow: 0 0 10px rgb(66 65 65 / 43%)
}
.signUp-container{
    background-color: var(--white-color);
    width: 25rem;
    box-shadow: 0 0 6px #adb5bd;
    position: absolute;
    right: 0;
    top: -4rem;
    z-index: 99;
    display: none;
}
.signUp-container-link{
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
}

.signUp-container input{
    outline: none;
}
.signUp-container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
    font-weight: bold;
    position: relative;
    box-shadow: 0 0 6px #adb5bd;
}
.signUp-container--title-sign{
    padding: 2rem 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
}
.signUp-container-input{
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid rgb(85, 84, 84);
  border-radius: 0.4rem;
}
.signUp-container-btn {
    margin-top: 1rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.4rem;
    border: 1px solid #084298;
    color: white;
    background-color: #084298;
}
.swal-button-container {
    display: flex;
    justify-content: center;

}
.howDream-container{
    padding: 0 5rem;
} 
.howDream-container-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
} 
.howDream-container-left-strong-text{
    font-weight: bold;
}  
.howDream-container-left-text{
    font-size: 1.5rem;
    line-height: 2.3rem;
}
.howDream-container-left--smalltext{
    font-size: 1.1rem;
}
.howDream-container-left-text-number{
    font-size: 9rem;
    color: rgb(21 54 199 / 23%);
    /* transform: rotate(357deg); */
    transform: skew(-13deg, 0deg);
}
.howDream-container-right{
    width: 32rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
}
.howDream-container-right-titleBox-icon{
    font-size: 1.3rem;
    color: var(--dark-color);
}

.howDream-container-right-titleBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.howDream-container-right-titleBox-title{
    font-size: 1.1rem;
    color: var(--dark-color);
    font-weight: bold;
}
.howDream-container-right-titleBox-subtitle{
    font-size: 0.9rem;
    color: #5b646c;
    line-height: 1.3rem;
    width: 35rem;
}
.shopping-container-right{
    position: relative;
}
.shopping-container{
    padding: 0.1rem 4.1rem;
    margin-top: 5rem;
    position: relative;
}
.shopping-container--left-box{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 2.4rem;
}
.slider-product_container{
    width: 100%;
}

.slider-product_container-image{
    width: 100%;
    margin-bottom: 0.7rem;
}
.slider-product_container-title{
    font-size: 0.84rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.slider-product_container-count{
    font-weight: bold;
}
.slider-product_container-heart-icon{
    font-size: 1.3rem;
    padding: 7px;
    border: 1px solid #636464;
    border-radius: 0.3rem;
    transition: all 300ms ease-in;
}
.slider-product_container-heart-icon:hover{
    color: red;
}
.slider-product_container-btn{
    margin-left: 0.2rem;
    padding: 0.6rem;
    width: 84%;
    background-color: white;
    border: 1px solid #636464;
    border-radius: 0.3rem;
    color: var(--theme-color);
    font-size: 0.85rem;
    font-weight: bold;
    transition: all 300ms ease-in;
}
.slider-product_container-btn:hover{
   background-color: var(--theme-color);
   color: var(--white-color);
}
.popular-heart-icon{
    color: red;
}
.prevBtn::after{
    font-size: initial;
    color: black;
}
.nextBtn::after{
    font-size: initial;
    color: black;
}
.prevBtn,.nextBtn{
    background-color: var(--white-color);
    width: 44px;
    border-radius: 50%;
    position: absolute;
    top: 38%;

}
.swiper-slide-active{
    justify-content: center;
}
.shopping-container-left-like-icon-link{
    position: relative;
}  
.shopping-container-left-shopping-icon-link{
    position: relative;
} 
.active-shop1{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color:red ;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    top: -15px;
    right: -10px;
    opacity: 0;
    visibility: hidden;
}
.active-shop2{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color:red ;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    top: -14px;
    right: -5px;
    opacity: 0;
    visibility: hidden;
}
.active-seen-like{
    color: white;
    background-color: #10ac84;
    padding:  0.4rem;
    border-radius: 0.3rem;
    transition: all 300ms ease-out;
    opacity: 0;
    visibility: hidden;

}
.active-no-seen-like{
    color: white;
    background-color: #dc3545;
    padding:  0.4rem;
    border-radius: 0.3rem;
    transition: all 300ms ease-out;
    opacity: 0;
    visibility: hidden;

}
.product-count-like-love{
    margin-left: 0.2rem;
}
.modal-shopping-container-icon{
    color: #10ac84;
    font-size: 1.1rem;
}
.modal-shopping-container-span{
    color: #10ac84;
    font-size: 0.9rem;
    margin-left: 0.5rem;
    font-weight: bold;
}
.modal-shopping-container-bottom-box{
    display: flex;
    justify-content: space-between;
}
.modal-shopping-container-image{
    width: 6rem;
    margin-right: 2rem;
    border-radius: 0.3rem;
}
.modal-shopping-container-title{
    font-size: 0.94rem;
    margin-bottom: 1.4rem;
    line-height: 1.3rem;
}
.modal-shopping-container-price{
    font-size: 1.4rem;
    color: #dc3545;
    font-weight: bold;
}
.modal-shopping-container{
    padding: 1rem;
    box-shadow: 0 0 10px #adb5bd;
    border-radius: 0.4rem;
    position: relative;
    position: absolute;
    bottom: 0;
    width: 28%;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.progress-bar-in-order-shop{
    background-color: var(--theme-color);
    height: 0.3rem;
    
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    /* opacity: 0;
    visibility: hidden; */
   width: 100%;
}
.select-shopping-basket-container{
    width: 30rem;
    margin: auto;
    box-shadow: 0 0 10px #adb5bd;
    border-radius: 0.3rem;
}
.shopping-cart-container{

    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1.3rem 1.3rem;
    display: none;
}
.product-for-buy-container-wrapper{
    height: 19.2rem;
    overflow-y: scroll;
}
.shopping-cart-container-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.product-for-buy-container{
    display: flex;
    padding: 0.8rem 0;
    border-bottom: 2px solid #dedfe1;
}
.product-for-buy-container-image{
    width: 5rem;
    border-radius: 0.3rem;
}
.product-for-buy-container-count{
    border-radius: 0.2rem;
    background-color: #dc3545;
    color: white;
    padding: 0.3rem;
}
.product-for-buy-container-title{
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2rem;
    margin: 1.4rem 0;
}
.product-for-buy-container-price{
    font-size: 1.3rem;
    font-weight: bold;
    color: #d61414e0;
}
div .shopping-cart-container-icon{
    cursor: pointer;
    transition: all 200ms ease-in;
}

.shopping-cart-container-icon{
    font-size: 1.2rem;
    color: red;
    background-color: white;
    padding: 0.5rem 0.6rem;
    border: 2px solid red;
    border-radius: 0.23rem;
    margin-top: 5.5rem;
    font-weight: 100;
}
.shopping-cart-container-icon-box:hover .shopping-cart-container-icon{
    color: white;
    background-color: rgb(217, 16, 16);
}
.shopping-details-container-transport-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
}
.shopping-details-container-transport-subtitle{
    font-size: 0.9rem;
    font-weight: bold;
}
.shopping-details-container-transport-text{
    font-size: 1.3rem;
    font-weight: bold;
    color: #37b178;
}
.shopping-details-container-dollor-price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}
.shopping-details-container-dollor-price-text{
    font-size: 1.3rem;
    font-weight: bold;
    color: #d61414e0;
}
.shopping-details-container-buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.shopping-details-container-buttons-viewcart-btn-link{
    color: black;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2.8rem;
    font-size: 1.1rem;
}
.shopping-details-container-buttons-viewcart-btn:hover .shopping-details-container-buttons-viewcart-btn-link{
    background-color: black;
    color: white;
}

.shopping-details-container-buttons-checkout-btn-link{
    border: 1px solid black;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2.8rem;
    font-size: 1.1rem;
}
.shopping-details-container-buttons-checkout-btn-link:hover{
    background-color: white;
    color: black;
    
}
.removeShopCartIcon{
    width: 35px;
    height: 35px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.6rem;
    cursor: pointer;
}